body {
    font-family: monospace;
    display: flex;
    background-color: rgb(245, 244, 241);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sentiment_lines {
    width: 950px;
    height: 900px;
}

#small_multiples {
    width: 1200px;
    height: 1050px;
}

#scatterplot:hover {
    cursor: grab;
}

#scatterplot {
    width: 1400px;
    height: 1020px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgb(244, 187, 64);
    box-shadow: 20px 20px 20px 5px #88888841;   
}

.commentary {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentary::before {
    content: '';
    width: 5rem;
    border-top: 3px solid #15425f;
    opacity: 0.5;
}

h1 {
    font-size:  70px;
    text-align: center;
    color: rgb(244, 187, 64);
    line-height:0.7em;
    margin-top: 0px;
}

h2 {
    font-size: 35px;
    text-align: center;
    width: 50%
}

p {
    width: 70%;
    margin: auto;
    padding: 20px;
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.5em;
}

a {
    color:  rgb(237, 181, 59);
    text-decoration: underline;
    text-decoration-style: wavy;
}

.tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: white;
    padding: 6px;
    font-size: 1.3em;
    max-width: 300px;
}

circle:hover {
    cursor: pointer;
}

button {
    width: 200px;
    height: 50px;
    background: none;
    font-size:1.5em;
    font-family: monospace;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    transition: background-color 0.5s;
}

button:focus {
    outline: none;
    border: none;
}

.selected_button {
    background-color: black;
    color: white;
}

button:hover {
    background-color: black;
    color: white;
}

select {
    width: 200px;
    height: 40px;
    font-size: 20px;
    appearance: none;
}

select:focus {
    outline: none;
    border: none;
}

.bar {
    transition: opacity 0.3s;
    opacity: 0.9
}

.bar:hover {
    opacity: 0.6;
    stroke-width: 2;
}

.speaker{
    stroke-width: 0;
}

.axis {
    stroke-opacity: 0.5;
}

.axis circle {
    fill: none;
    stroke-opacity: 0.5;
}

.line, .meanline {
    stroke-width: 2px;
    stroke: black;
    opacity: 0.5;
}

#author {
    text-align: center;
}